<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>
</head>

<body>
    <% include ../layout/header %>

    <div class="container">
        <h1>제목 :
            <%=post.title%>
        </h1>
        <h3>작성자 :
            <%=post.authorInfo.name%>
        </h3>
        <h3>내용 :
            <%=post.contents%>
        </h3>
        <div style="text-align:right">
            조회수 : <%=post.viewed%>
            <br>                      
        </div>
        <form action="/board/<%=boardInfo.nameEng%>" method="get">
            <input type="submit" class="btn btn-primary pull-right" value="목록">
        </form>
        <% if(user.id === post.authorInfo.id) { %>        
        <form action="/modify/post" method="get">
            <input type="hidden" name="boardName" value="<%=boardInfo.nameEng%>" />
            <input type="hidden" name="postId" value="<%=post.id%>" />
            <input type="submit" class="btn btn-primary pull-right" value="수정">
        </form>
        <form action="/delete/post?_method=DELETE" method="post">                        
            <input type="hidden" name="postId" value="<%=post.id%>" />
            <input type="submit" onclick="return confirm('삭제하시겠습니까?')" class="btn btn-primary pull-right" value="삭제">
        </form>
        <% } %>        
        <br>
        <hr>
        <% include ../comment/index %>        
        <% include ../comment/write %>       

    </div>

    <% include ../layout/script %>
</body>

</html>